<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href='/static/style.css' />
    <title>Help</title>
</head>
<body>
        <a href="/" class="btn btn-link" role="button">User</a>
        <a href="/admin.html" class="btn btn-link" role="button">Admin</a>
        <a href="/help.html" class="btn btn-link" role="button">Help</a>
    <br>
    <h1 class="res">Help</h1>
    <h2 class="res">User</h2>
    <p class="res">User is able to send queries.<br>
    The queries can contain the following arguments:<br>
        () => parentheses <br>
        ! => not <br>
        & => and <br>
        | => or
    </p>
    <h2 class="res">Admin</h2>
    <p class="res">
        Admin can: <br>
        * Click each awaiting file to retrieve it <br>
        * Click "RETRIEVE ALL" to retrieve all awaiting files <br>
        * Click each retrieved file to remove it from index <br>
        * Click "REMOVE ALL" to remove all retrieved files
    </p>



</body>
</html>