<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href='/static/style.css' />
    <title>Searching</title>
</head>
<body>
    <div class="wrapper">
        <a href="/" class="btn btn-link" role="button">User</a>
        <a href="/admin.html" class="btn btn-link" role="button">Admin</a>
        <a href="/help.html" class="btn btn-link" role="button">Help</a>

        <h1>Retrieval Information Search</h1>
        <form action="/index.html" method="get">
            <input class="form-control-lg" type="text" name="search">
            <input type="submit" class="btn btn-outline-secondary">
        </form>
        <div class="clear"></div>
          <section>

        </section>
    </div>
</body>
</html>